.featured-tile-container {
  width: 500px;
  margin: 0 16px;
}
.featured-product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-image {
  position: relative;
}
.featured-product-image {
  position: absolute;
  z-index: 0;
  width: 500px;
  object-fit: cover;
}
.sale-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px;
  z-index: 1;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
}
