@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary: #1d242d;
  --bg-grey: #f6f7fb;
  --grey-color: #bdbdbd;
  --white-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-y: hidden;
}

code {
  font-family: "Roboto", sans-serif !important;
}

.ant-input {
  background-color: var(--bg-grey);
  font-family: "Rubik", sans-serif;
}

.ant-input-affix-wrapper-lg {
  padding: 0 12px;
}
